h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

header, section, footer{
	color: #FFA72B;
	font-family: 'Poller One', cursive;
	text-align: center;
	text-shadow: 1px 1px #FF3C5C;
}

section, header, footer, .logo, .col-container {
	width: 100%;
}

section, .col-container, .col-3, .col-2{
	float: left;
	background-color: #4C4C4C;
}

header, footer{
	background-color: #0A0000;
	display: block;
	height: 60px;
	padding: 10px;
}

section {
	float: left;
}

.col-container {
    width: 100%;
}

.col-3 {
	width: 33.333%;
}

.col-2 {
	width: 50%;
}

.score li{
	display: block;
}

#remaining {
	font-family: 'Raleway', sans-serif;
}

#alph li{
	background-color: #FFE5C0;
	color: #FFA72B;
	border: solid 1px #FF3C5C;
	text-decoration:none;
	cursor:pointer;
	font-size: 12px;
	padding:10px 10px;
	width: 5%;
	margin: 10px;
	float: left;
	display: block;
	border-radius: 3px;
	font-family: "Raleway";
	text-shadow: none;
}

#alph li:hover{
    background-color: #FFA72B;
    border: dotted 1px #FF3C5C;
    color: #FFE5C0;
}

/*li #letter */
.used {
	visibility: hidden;
}

hr {
	border-color: #FF3C5C;
}

#game {
	display: block;
	border: 3px double #FF3C5C;
	border-radius: 6px;
	margin: 10px;
	width: 95%;
	min-height: 150px;
}

#tray ul{
	/*display: block;*/
	width: 100%;
	margin: auto;
	height: 100%;
	padding-top: 65px;
}

#solution {
	padding: auto;
}

.guess{
	display: inline;
	text-align: center;
	padding: 4px;
	font-family: 'Raleway', sans-serif;
}

button{
	background-color: #FFE5C0;
	color: #FFA72B;
	border: solid 1px #FF3C5C;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	padding: 5px 10px;
	width: 20%;
}

button:hover{
  	background-color: :#FFA72B;
  	border: dotted 1px #FF3C5C;
  	color: #FF3C5C;
}

#message {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
}

.endImage {
	width: 100%;e
}

footer {
	clear: both;
	font-size: 10px;
	/*text-align: left;*/
}

.foot
{
	float: left;
}

.footreset{
	float: right;
}

@media only screen and (max-width: 750px) {
    .col-3 {
    	width: 100%;
    }
    #wl .logo{
    	display: none;
    }

    #guesses .logo{
    	display: none;
    }
}


















